@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --polar-sand: #f5f5ed;
  /* --core-flux: #ff6038; */
  --core-flux: #eb603e;
  /* --magnetic-mist: #ebecdc; */
  --alloy-ember: #b88826;
  /* --obsidian-field: #361e1c; */
  --obsidian-field: #2e1615;
  --ion-drift: #a0b5cb;
  --pinky: #ffb0f4;
}

@theme inline {
  --color-polar-sand: var(--polar-sand);
  --color-core-flux: var(--core-flux);
  --color-alloy-ember: var(--alloy-ember);
  --color-obsidian-field: var(--obsidian-field);
  --color-ion-drift: var(--ion-drift);
  --color-pinky: var(--pinky);

  --font-sans: 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

body {
  @apply bg-obsidian-field text-polar-sand font-sans;
}
